extends layout.pug 

block content
    .chat 
        .header 
            h2 Chat RONS 
            h3#numUsers 
        .main 
            ul#mensajes
                each message in messages.reverse()
                    if message.user._id.toString() === user._id.toString() 
                        li.owner #{message.user.username}: #{message.text}
                    else 
                        li #{message.user.username}: #{message.text}
        .footer 
            p Usuario activo: #{user.username}
            .formulario 
                label.form-label Mensaje 
                input#inputMensaje.form-control(type="text")
                button#btnEnviar Enviar
    script.
        const socket = io(); 

        const btnEnviar = document.getElementById('btnEnviar');
        const inputMensaje = document.getElementById('inputMensaje');
        const mensajes = document.getElementById('mensajes');
        const numUsers = document.getElementById('numUsers');

        const username = "#{user.username}";
        const user_id = "#{user._id}"

        btnEnviar.addEventListener('click', ()=>{
            const mensaje = inputMensaje.value;
            const obj = {
                message: mensaje,
                username,
                user_id,
            }

            socket.emit('chat_mensajito', obj);
        });

        socket.on('chat_mensajito', (data)=> {
            
            //data tiene: mensaje, username y user_id
            // creamos un nuevo Li dentro del ul mensajes.
            //createElement, innerText, append, appendChild
            const li = document.createElement('li');
            li.innerText = `${data.user.username}: ${data.text}`;

            if(user_id === data.user._id) {
                li.classList.add('owner');
            }

            mensajes.append(li);
           
        });

        socket.on('chat_users', (data)=> {
            numUsers.innerText = `usuarios conectados: ${data}`;
        });

